*.log
build_output_swift6_final_10.txt
build_output_swift6_final_11.txt
build_output_swift6_final_6.txt
build_output_swift6_final_7.txt
build_output_swift6_final_8.txt
build_output_swift6_final_9.txt
build_output_swift6_restore_verify.txt
build_output_optimization_verify_final_5.txt
Sparkle_Integration_Guide.md
/deploy_final
/MDEditor/.build
/MDEditor/.build
/MDEditor/.build
/MDEditor/.build/index-build
/MDEditor/.build/index-build/arm64-apple-macosx
/MDEditor/.build/index-build/arm64-apple-macosx/debug/index
/MDEditor/.build/index-build
